{% extends 'base.html.twig' %}

{% block title %}Hello NewController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" id="app">
    <h1>Hello {{ controller_name }}! ✅</h1>
<h1 v-once>{* title *}</h1>
<h1 v-once>{* number *}</h1> 
 <button v-on:click="increaseNumber">+</button>
</div>
{% endblock %}
